<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0 font-size-18">Detail project</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Detail project</li>
        </ol>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="ignismyModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">

        <div class="thank-you-pop">
          <img src="/assets/logos/Green-Round-Tick.png" alt="logon" />
          <h1 class="text-center">Success!</h1>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- end page title -->
 <form class="needs-validation add-product-form" novalidate="" action="/admin/project/{{project.slug}}" method="POST"
    enctype="multipart/form-data">
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Info</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <p style="display:none" id="slug">{{project.slug}}</p>
          <div class="col-md-12">
            <div class="mb-3">
              <label for="example-text-input" class="form-label">Title</label>
              <input class="form-control" type="text" value="{{project.title}}" name="title">
            </div>
            <div class="mb-3">
              <label class="form-label">Select Category</label>
              <select class="form-select" name="category">
                <option value="{{project.category._id}}">{{project.category.title}}</option>
                {{#each categories}}
                <option value="{{this._id}}">{{this.title}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div id="show-image">
              <label class="form-label">Thumbnail</label>
              <br>
              <div class="d-flex justify-content-center">
                <img src="{{project.thumbnail}}" class="img-fluid w-50" alt="Responsive image">
              </div>
              <div class="d-flex justify-content-center">
                <a role="button" class="primary" id="up">Update thumbnail</a>
              </div>
            </div>
            <div class="col-12">
                <div class="custom-file" id="updateImage">
                  <div class="d-flex justify-content-start">
                   <label class="form-label">Update thumbnail</label>
                   </div>
                   <br>
                  <input type="file" class="custom-file-input" name="image" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                   <span role="button" id="cancle">Cancel</span>
                </div>
     
            </div> <!-- end col -->
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Content</h4>
      </div>
      <div class="card-body">
        <textarea id="ckeditor-classic" name="content"></textarea>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary" style="margin-right: 5px;">Update</button>
      </form>
      <button type="button" class="btn btn-danger waves-effect waves-light ml-2" data-bs-toggle="modal"
        data-bs-target="#myModal">Update Status</button>
      <!-- sample modal content -->
      <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
        data-bs-scroll="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Update status project</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="formRadios" value="1" id="formRadios1">
                <label class="form-check-label" for="formRadios1">
                  Publish
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="formRadios" value="0" id="formRadios2">
                <label class="form-check-label" for="formRadios2">
                  Draff
                </label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
              <button type="button" id="status" class="btn btn-danger waves-effect waves-light">Update</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
      <!-- /.modal
    </div>
  </div>
  <!-- end col -->
    </div>
    <p style="display:none" id="con">{{project.content}}</p>

    <!-- JAVASCRIPT -->
    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>
    <script src="/assets/libs/feather-icons/feather.min.js"></script>
    <!-- pace js -->
    <script src="/assets/libs/pace-js/pace.min.js"></script>

    <!-- ckeditor -->
    <script src="/assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>

    <!-- init js -->
    {{!--
    <script src="/assets/js/pages/form-editor.init.js"></script> --}}
    <script src="/assets/libs/dropzone/min/dropzone.min.js"></script>

    <script src="/assets/js/app.js"></script>
    <script src="/js/projectDetail.js"></script>