<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-sm-flex align-items-center justify-content-between"
    >
      <h4 class="mb-sm-0 font-size-18">Contacts Management</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="./">Home</a></li>
          <li class="breadcrumb-item active">Contacts</li>
        </ol>
      </div>

    </div>
  </div>
</div>
<!-- end page title -->
<div class="row align-items-center">
  <div class="col-md-6">
    {{! <div class="mb-3">
            <h5 class="card-title">Contact List <span class="text-muted fw-normal ms-2">(834)</span></h5>
        </div> }}
  </div>

  <div class="col-md-6">
    <div
      class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3"
    >
      <div>
        {{! <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="apps-contacts-list.html" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="List"><i class="bx bx-list-ul"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="apps-contacts-grid.html" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Grid"><i class="bx bx-grid-alt"></i></a>
                    </li>
                </ul> }}
      </div>
      {{! <div class="dropdown">
                <a class="btn btn-link text-muted py-1 font-size-16 shadow-none dropdown-toggle" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bx bx-dots-horizontal-rounded"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div> }}
    </div>

  </div>
</div>
<!-- end row -->

<div class="table-responsive mb-4">
  <table
    class="table align-middle datatable dt-responsive table-check nowrap"
    style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;"
  >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Subject</th>
        <th scope="col">Message</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each contacts}}
        <tr>
          <th scope="row">
            {{this.name}}
          </th>
          <td>
            {{this.email}}
          </td>
          <td>{{this.phone}}</td>
          <td>
            {{this.subject}}
          </td>
          <td>
            {{this.message}}
          </td>
          <td>
            <a href="/admin/contacts/{{this.contactId}}"><i
                class="fas fa-eye"
              ></i></a>
            {{!-- <a href="/admin/career/{{this.contactId}}"><i
                class="fas fa-edit text-success"
              ></i></a> --}}
            <a href="/admin/contacts/{{this._id}}/delete"><i
                class="fas fa-trash text-danger"
              ></i></a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <!-- end table -->
</div>

<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>
<script src="/assets/libs/feather-icons/feather.min.js"></script>
<!-- pace js -->
<script src="/assets/libs/pace-js/pace.min.js"></script>
<!-- validation init -->
<script src="/assets/js/pages/validation.init.js"></script>
<script src="/assets/js/pages/feather-icon.init.js"></script>
<!-- pristine js -->
<script src="/assets/libs/pristinejs/pristine.min.js"></script>
<!-- pace js -->

<!-- Required datatable js -->
<script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script
  src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"
></script>

<!-- Responsive examples -->
<script
  src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"
></script>
<script
  src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"
></script>

<!-- init js -->
<script src="/assets/js/pages/datatable-pages.init.js"></script>

<script src="/assets/js/app.js"></script>